// Colors
$primary: #4ea7ea;
$black: #4D4D4F;
$grey: #737373;

// Typography
$base-line-height: 1.45;
$base-font-family: 'Roboto';
$body-font: 'Merriweather', Arial;
$base-font-weight: 400;
$base-font-size: 1em;
$font-weight-regular: 300;
$font-weight-bold: 700;
