.c-ingredients {
    ul {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        margin-bottom: 0;
    }
}

    .c-ingredients__item {
        flex: 1 0 25%;
        background: $color-grey-lighter;
        padding: 1.35em 1em;
        color: $color-black;
        text-align: center;
        margin-right: 1px;
        margin-bottom: 1px;
    }