.c-footer {
    @include clearfix();
    background: #fff;
    border-top: 1px solid $color-grey-light;
    padding-top: $unit-large;
    padding-bottom: $unit;
}

    .c-footer__item {
        margin-bottom: $unit;

        @include mq($from: small) {
            width: 33.33%;
            float: left;
            padding-right: 2em;
            margin-bottom: 0;
        }
    }

    .c-footer__item--full {
        @include mq($from: medium) {
            clear: left;
            width: 100%;
        }
    }

    .c-footer__item--legal {
        margin-top: $unit;

        p {
            color: $color-black;
        }

        a {
            text-decoration: underline;
            color: inherit;

            &:hover,
            &:focus {
                color: $color-brand-primary;
            }

            &:focus {
                outline: 0;
            }
        }

        @include mq($from: medium) {
            border-top: 2px solid $color-grey-light;
            padding-top: $unit;
            text-align: center;
        }
    }

    .c-footer__item--email {
        a {
            color: $color-black;

            &:hover,
            &:focus {
                text-decoration: underline;
                color: $color-brand-primary-light;
            }

            &:focus {
                outline: 0;
            }
        }
    }

        .c-footer__item__title {
            border-bottom: 2px solid $color-grey-light;
            margin-bottom: $unit-small;
        }