.c-headline {
	position: relative;
    margin-bottom: $unit-large;
    padding-left: 20px;

    &:before {
    	content: "";
    	position: absolute;
    	left: 0;
    	top: -8px;
    	z-index: -1;
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
    	background: $color-brand-primary-light;
    	opacity: 0.2;
    }
}