.c-page-title {
  margin-bottom: $unit;

    h1,
    p {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    @include mq($from: small) {
        margin-bottom: 0;
    } 
}

    .c-page-title__link {
      display: block;
      min-height: 3.75em;
      padding-left: 4.6875em;
      background: url('../../assets/images/logo.png') left top / 3.625em 3.625em no-repeat;

      &:hover {
        text-decoration: none;
      } 

      .svg & {
        background: url('../../assets/images/logo.svg') left top / 3.625em 3.625em no-repeat;
      }
    }









    