.c-faqs {
    @include font-size(24px, 1.4);
}

    .c-faqs__question {
        color: $color-black;
        border-bottom: 1px solid $color-grey-lighter;
        margin-bottom: $unit-small;

        span {
            position: relative;
            top: 1px;
            display: inline-block;
            border-bottom: 4px solid $color-grey-light;
            padding-bottom: $unit-small;
        }
    }

    .c-faqs__answer {
        margin-bottom: $unit-large;

        p {
            font-size: 1.25rem;
            max-width: 44em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }