    .c-article__header {
        background: $color-brand-primary-light;
        padding-top: $unit-large;
        margin-bottom: $unit-large;
        color: #fff;
    }

    .c-article__header--pattern {
        color: #fff;

        p {
            color: inherit;
        }
    }

    .c-article__title {
        @include font-size(40px);
        margin-top: $unit-small;
        margin-bottom: $unit-large;
        color: inherit;
        text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.18);
    }

    .c-article__footer {
        background: $color-grey-lighter;
        padding: $unit;
        margin-bottom: $unit-large;
    }

    .hire-me {
        background: $color-brand-primary-light;
        padding: $unit;
        margin-bottom: $unit-middle;
        box-shadow: 0 3px 10px 0 rgba($color-brand-primary-light, 0.35);

        h3,
        p,
        a {
            color: #fff;
        }

        p {
            font-size: 18px;
        }
    }