.c-footer {
    @include clearfix();
    background: #fff;
    box-shadow: 0 -2px 4px 0 transparentize(#000, 0.8);
    padding-top: $unit-large;
    padding-bottom: $unit;
}

    .c-footer__item {
        margin-bottom: $unit;

        @include mq($from: small) {
            width: 33.33%;
            float: left;
            padding-right: 2em;
            margin-bottom: 0;
        }
    }

    .c-footer__item--full {
        @include mq($from: medium) {
            clear: left;
            width: 100%;
        }
    }

    .c-footer__item--legal {
        border-top: 2px solid $color-grey-light;
        padding-top: $unit;
        text-align: center;

        p {
            color: $color-black;
        }

        a {
            text-decoration: underline;
            color: inherit;

            &:hover {
                color: $color-brand-primary;
            }
        }
    }

    .c-footer__item--email {
        a {
            color: $color-black;

            &:hover {
                text-decoration: underline;
                color: $color-brand-primary-light;
            }
        }
    }

        .c-footer__item__title {
            border-bottom: 2px solid $color-grey-light;
            margin-bottom: $unit;
        }