.c-nav {
    margin-top: $unit-small;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        @include mq($from: small) {
            display: initial;
        }
    }

    @include mq($from: mini) {
        flex: 1 0 40%;
    }

    @include mq($from: small) {
        text-align: right;
    }
}

    .c-nav__item {
        @include font-size(18px);
        flex: 0 0 50%;
        display: block;
        list-style: none;
        color: #000;

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: $unit;
        }

        a {
            position: relative;
            display: block;
            padding: 0.25em 0.75em;
            border: 1px dashed transparent;
            color: inherit;

            &:hover {
                text-decoration: none;
                background: #e8e8e8;
                border-color: #000;
            }

            &:focus {
                outline: 2px solid #000;
                outline-offset: 1px;
                color: #fff;
                background: #015289;
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.24), 0 0 10px 0 #015289;
            }
        }

        @include mq($from: small) {
            @include font-size(18px);
            display: inline-block;

            & + & {
                margin-left: $unit-small;
            }
        }
    }

    .c-nav__item--active {
        a {
            outline: 2px solid #000;
            outline-offset: 1px;
            color: #fff;
            background: #015289;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.24), 0 0 10px 0 #015289;

            &:hover {
                background: #015289;
            }
        }
    }
