<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Accessibility Matters - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <script>
            // Picture element HTML5 shiv
            document.createElement( "picture" );
        </script>
        <script src="/assets/js/picturefill.min.js" async></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    </head>
    <body>
          <a class="c-skip" href="#content">Skip to main content</a>
          {% include header.html %}

          {{ content }}

          {% include footer.html %}

          <script src="/assets/js/modernizr.js"></script>
          <!--<script src="/assets/js/fontfaceobserver.js"></script>
          <script>
                var font = new FontFaceObserver('Source Sans Pro', {
                    weight: 400
                });

                font.load().then(function () {
                    sessionStorage.fontsLoaded = true;
                }).catch(function () {
                    sessionStorage.fontsLoaded = false;
                    console.log('Font is not available');
                });

                if (sessionStorage.fontsLoaded) {
                    document.documentElement.className += " font-loaded";
                }
           </script>-->
    </body>
</html>
