---
layout: default
---

<main role="main" id="content" class="in-article">
	<article class="c-article">
		<header class="c-article__header">
			<div class="o-wrapper o-wrapper--small">
				<span>Ahmad Shadeed wrote:</span>
				<h2 class="c-article__title">{{ page.title }}</h2>
				<time class="c-article__date">{{ page.date | date: "%A, %B %-d, %Y" }}</time>
			</div>
			<ul class="c-breadcrumbs">
				<div class="o-wrapper o-wrapper--small">
					<li class="c-breadcrumbs__item"><a href="/">Home</a></li>
					<li class="c-breadcrumbs__item"><a href="/articles">Articles</a></li>
					<li class="c-breadcrumbs__item"><strong>{{ page.title }}</strong></li>
				</div>
			</ul>
		</header>

		<div class="o-wrapper o-wrapper--small">
			<div class="s-article">
				{{ content }}
			</div>

			{% include share.html %}

			<footer class="c-article__footer">
				<h3 class="c-article__footer__title">About the author:</h3>
				{% include author.html %}
			</footer>
		</div>
	</article>

	<div class="o-wrapper o-wrapper--small u-push-bottom-large">
		<section class="c-block c-block--more">
			<h3 class="">More articles</h3>
			<div class="c-block--more__content">
				{% if page.next %}
				<a class="c-block--more__link next" href="{{ page.next.url }}"> {{page.next.title}} </a>
				{% endif %}

				{% if page.previous %}
				<a class="c-block--more__link prev" href="{{ page.previous.url }}"> {{page.previous.title}}</a>
				{% endif %}
			</div>
		</section>
	</div>

	<div class="o-wrapper o-wrapper--small">
		<h3>Share your thoughts and ideas:</h3>

		{% if page.comments %}
		<div id="disqus_thread"></div>
		<script>
			(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				
				s.src = '//a11ymatters.disqus.com/embed.js';
				
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		{% endif %}
	</div>
</main>
